[submodule "addons/2025_09_12_gdp_generate_sign_rsa"]
	path = addons/2025_09_12_gdp_generate_sign_rsa
	url = https://github.com/EloiStree/2025_09_12_gdp_generate_sign_rsa.git
[submodule "addons/2026_07_13_gdp_github_login_device"]
	path = addons/2026_07_13_gdp_github_login_device
	url = https://github.com/EloiStree/2026_07_13_gdp_github_login_device.git
